<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>NR12</title>
    <link rel="stylesheet" href="../statics/nr10.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../statics/rodape.css">
</head>

<body class="banner">
    <header id="efeito">
        <div class="container">
            <div class="flex">
                <h1>BataTECH</h1>

                <div class="pesquisa-container">
                    <input type="text" class="pesquisa-txt" placeholder="Pesquisar...">
                    <a href="#" class="pesquisa-btn">
                        <i class="bi bi-search"></i>
                    </a>
                </div>

                <div class="acoes-header">
                    <nav>
                        <ul>
                            <li><a href="#"><i class="bi bi-gear"></i></a></li>
                            <li><a href="#"><i class="bi bi-headset"></i></a></li>
                        </ul>
                    </nav>

                    <div class="btn-login">
                        <a href="../templates/TelaLogin.html"><button>LOGIN</button></a>
                    </div>

                    <div class="btn-cadastrar">
                        <a href="../templates/TelaCadastro.html"><button>CADASTRO</button></a>
                    </div>

                </div>

            </div>
        </div>
    </header>
    <main>
        <!-- NR12 -->
         <section class="container-nr10">
            <div class="info-nr10s">
                <div class="info-nr10">
                    <img src="../imagens/NR10.jpg" alt="NR10">
                    <h1>NR-10</h1>
                    <h2>O Curso NR-10 é fundamental para profissionais que trabalham com eletricidade, visando garantir a segurança e saúde dos trabalhadores em instalações e serviços elétricos. Este curso capacita os profissionais a compreender e aplicar medidas de controle e sistemas preventivos para evitar acidentes elétricos, conforme estabelecido pela Norma Regulamentadora 10.</h2>
                    <h3>🎯Objetivos do Curso NR-12
                        <br>
                        •Compreender os princípios da NR-10 e sua aplicação legal.
                        <br>
                        •Identificar os riscos associados ao trabalho com eletricidade.
                        <br>
                        •Aplicar medidas preventivas para evitar acidentes elétricos.
                        <br>
                        •Utilizar corretamente os Equipamentos de Proteção Individual (EPI) e Coletiva (EPC).
                        <br>
                        •Reconhecer a importância da documentação técnica e procedimentos de segurança.
                        <br>
                        •Agir corretamente em situações de emergência e primeiros socorros.
                        <br>
                        🎓Grade Curricular:
                        <br>
                        •Introdução à NR-12 e legislação aplicável.
                        <br>
                        •Tipos de riscos em máquinas e equipamentos.
                        <br>
                        •Medidas de proteção (proteções fixas, dispositivos de segurança, etc.).
                        <br>
                        •Bloqueio e sinalização (permissão de trabalho).
                        <br>
                        •Rotinas de inspeção, operação e manutenção.
                        <br>
                        •Procedimentos em caso de emergência.
                        <br>
                        👷🏼Público-Alvo:
                        <br>
                        •Operadores de máquinas
                        <br>
                        •Técnicos de segurança
                        <br>
                        •Mantenedores e mecânicos
                        <br>
                        •Supervisores de produção e gestores da área industrial
                        <br>
                        🕒Carga horária:
                        <br>
                        •8 a 40 horas, dependendo da complexidade das máquinas envolvidas e do nível do curso (básico ou avançado).
                        <br>
                        📝Certificação:
                        <br>
                        •Após conclusão e aproveitamento satisfatório, o aluno recebe um certificado válido conforme exigências legais, sendo reconhecido pelo MEC.
                        <br>
                    <h4> Valor Do Curso R$200,00</h4>

                        <div class="text-box">
                            <a href="../templates/TelaPagamento.html" class="btn btn-white btn-        animate">Realizar Pagamento</a>
                          </div>
                </div>
            </div>
         </section>
    </main>
    <script src="../statics/js/menu.js"></script>
    <footer class="footer">
        <div class="footer-top">
          <div class="footer-logo-block">
            <h2 class="footer-text">BataTECH</h2>
            <div class="social-icons">
            </div>
          </div>
        </div>
    
        <hr>
    
        <div class="footer-bottom">
          <p>Copyright ©2025 BataTECH - Todos os direitos reservados</p>
          <div class="footer-links">
            <a href="../templates/TelaFaleConosco.html">Central de Ajuda</a>
            <span class="dot">•</span>
            <a href="#">Contato</a>
            <span class="dot">•</span>
            <a href="../templates/termo_de_uso.html">Termos de uso</a>
            <span class="dot">•</span>
            <a href="../templates/politica_privacidade.html">Política de privacidade</a>
          </div>
        </div>
      </footer>
</body>
</html>