<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>BataTECH Cursos EAD</title>
  <link rel="stylesheet" href="../statics/site.css">
  <link rel="stylesheet" href="../statics/cabecalho.css">
  <link rel="stylesheet" href="../statics/rodape.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body class="banner">
<script src="../statics/js/configglobal.js"></script>
  <header id="efeito">
    <div class="container">
      <div class="flex">
        <a href="../templates/TelaHome.html"><h1>BataTECH</h1></a>

        <div class="pesquisa-container">
          <input type="text" class="pesquisa-txt" placeholder="Pesquisar...">
          <a href="#" class="pesquisa-btn">
            <i class="bi bi-search"></i>
          </a>
        </div>

        <div class="acoes-header">
          <nav>
            <ul>
              <li><a href="../templates/config.html"><i class="bi bi-gear"></i></a></li>
              <li><a href="../templates/TelaFaleConosco.html"><i class="bi bi-headset"></i></a></li>
            </ul>
          </nav>

          <div class="btn-login">
            <a href="TelaLogin.html"><button>LOGIN</button></a>
          </div>

          <div class="btn-cadastrar">
            <a href="TelaCadastro.html"><button>CADASTRAR</button></a>
          </div>
        </div>

      </div>
    </div>
  </header>
<main>
    <!--Imagem de apoio-->
    <section class="container-apoio">
      <div class="info-apoios">
        <div class="info-apoio">
          <img src="../imagens/Apoio.png" alt="imagem de apoio">
        </div>
      </div>
    </section>
  
    <!-- Falando do Curso -->
    <section class="container-boxes">
      <div class="info-boxes">
        <div class="info-box">
          <i class="bi bi-mortarboard"></i>
          <h3>Cursos para todos os níveis</h3>
          <p>Aprenda do básico ao avançado, com cursos ideais para todos os perfis.</p>
        </div>

        <div class="info-box">
          <i class="bi bi-patch-check"></i>
          <h3>Certificação reconhecida</h3>
          <p>Certificação reconhecida por empresas, com conteúdo de qualidade e carga horária certificada.</p>
        </div>

        <div class="info-box">
          <i class="bi bi-person-video2"></i>
          <h3>Professores especializados</h3>
          <p>Aulas ministradas por profissionais experientes e atuantes no mercado.</p>
        </div>
        
        <div class="info-box">
          <i class="bi bi-display"></i>
          <h3>Plataforma intuitiva</h3>
          <p>Fácil de usar com recursos que facilitam o aprendizado sem ser complicado.</p>
        </div>
      </div>
    </section>

    <!--Vendendo Curso-->
    <section class="container-curso">
      <div class="info-cursos">
        <div class="info-curso">
          <img src="../imagens/NR12.jpg" alt="NR12">
          <h3>NR-12</h3>
          <h4>É essencial para profissionais que atuam em ambientes industriais, operando ou realizando manutenção em máquinas e equipamentos.</h4>
          <br></br>
          <p>R$200,00</p>
        </div>

        <div class="info-curso">
          <img src="../imagens/NR35.jpg" alt="NR35">
          <h3>NR-35</h3>
          <h4>É fundamental para profissionais que realizam atividades a uma altura superior a 2 metros do nível do solo, onde há risco de queda.</h4>
          <br></br>
          <p>R$250,00</p>
        </div>

        <div class="info-curso">
          <img src="../imagens/NR10.jpg" alt="NR10">
          <h3>NR-10</h3>
          <h4>É obrigatório para profissionais que atuam com eletricidade, garantindo a segurança em instalações de baixa e alta tensão.</h4>
          <br></br>
          <p>R$300,00</p>
        </div>

        <div class="info-curso">
          <img src="../imagens/informaticabasica.png" alt="Informatica Basica">
          <h3>Informática Básica</h3>
          <h4> É ideal para quem deseja aprender a utilizar o computador de forma eficiente, seja para trabalho, estudo ou uso pessoal.</h4>
          <br></br>
          <p>R$600,00</p>
        </div>
      </div>
    </section>
    </main>
  <script src="../statics/js/menu.js"></script>
  <footer class="footer">
    <div class="footer-top">
      <div class="footer-logo-block">
        <h2 class="footer-text">BataTECH</h2>
        <div class="social-icons">
        </div>
      </div>
    </div>
  
    <hr>
  
    <div class="footer-bottom">
      <p>Copyright ©2025 BataTECH - Todos os direitos reservados</p>
      <div class="footer-links">
        <a href="../templates/TelaFaleConosco.html">Central de Ajuda</a>
        <span class="dot">•</span>
        <a href="#">Contato</a>
        <span class="dot">•</span>
        <a href="../templates/termo_de_uso.html">Termos de uso</a>
        <span class="dot">•</span>
        <a href="../templates/politica_privacidade.html">Política de privacidade</a>
      </div>
    </div>
  </footer>
</body>
</html>