<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Login SESI SENAI</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../statics/login.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <script src="../statics/js/configglobal.js"></script>
  <div class="left">
    <h1>Ambiente virtual da <br><strong>Batatech</strong></h1>
    <img class="logo" src="../imagens/LogoEAD.png" alt="Avatar Batatech">
  </div>

  <div class="login-box">
    <input type="text" placeholder="Usuário">
    <input type="password" placeholder="Senha">
    <div class="text">
      <a href="../templates/TelaHome.html" class="btn btn-white btn-        animate">Acessar</a>
    </div>
    <div class="text-box">
      <a href="../templates/TelaHome.html" class="btn btn-white btn-        animate">Voltar</a>
    </div>
    <br>
    <br>
    <div class="help-links">
      <p><a href="TelaFaleConosco.html">Fale Conosco</a></p>
    </div>
  </div>
</body>
</html>
