/* Garante que o HTML e o body ocupem toda a altura */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Cor de fundo personalizada que cobre toda a página */
.bg-custom {
  min-height: 100%;
  background: linear-gradient(to bottom, #fdf5ad, #fab663, #ff8f2d, #fae20e);
  background-attachment: fixed;
  background-size: cover;
}

/* Estilos para os botões */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.1s;
  background-color: black;
  color: #eb9f5c;
  position: relative;
  overflow: hidden;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  z-index: -1;
  transition: all 0.1s;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}